package components

type WordPair struct {
	Word    string `json:"word"`
	NonWord string `json:"nonWord"`
	Id      int    `json:"id"`
	Choice  int    `json:"choice"`
}

script runner(pairs []WordPair) {
      let ct = new Date()
      let index = -1
      const array = pairs
      function keyDown(event) {
        if(!(event.key == "f" || event.key == "j")) {
          return
        }
        if(index == -1) {
          $("#testerPane").html(`
            <div class="flex justify-center items-center w-full flex-col">
             <span id="word1" class="bg-blue-600 rounded-lg text-white m-5 p-2 font-bold shadow-lg text-center w-40 py-5"></span>
             <div class="flex justify-center mt-12">
                <span class="bg-blue-800 rounded-lg text-white p-2 shadow-lg text-center mx-5">Word</span>
                <span class="bg-blue-800 rounded-lg text-white p-2 shadow-lg text-center mx-5">Nonword</span>
             </div>
              
           </div>
          `)
          iterate()
          return
        }
        if(array[index].id === -1) {
          iterate()
          return
        }

        let correct = false
        if((event.key == 'f') == (array[index].word == $("#word1").text())) {
          correct = true
        }
        fetch("/post", {
          method: "POST",
          body: JSON.stringify({
            id: array[index].id,
            correct: correct,
            time: (new Date())-ct,
            word: array[index].choice == 1
            })
          })
        iterate()

        
      }
      function iterate() {
        index++
        if(index < array.length) {
          if(array[index].choice == 1) {
            $("#word1").text(array[index].word)
          }
          else {

            $("#word1").text(array[index].nonWord)
          }

          ct = new Date()
        } else {
          $("#testerPane").html(`<span class="text-center font-bold text-2xl w-full">Thank You For Completing The Test</span>`)
        }
      }
      window.addEventListener("keydown", keyDown)
}

templ Tester(givenId string, pairs []WordPair) {
	<html>
		<head>
			<title>eelsAAA</title>
			<script src="https://cdn.tailwindcss.com"></script>
			<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
		</head>
		<body>
			<div class="flex justify-center items-center flex-col w-full h-full" id="testerPane">
				<p class="text-center">
					You will now be shown a series of words.
					<br/>
					Place your fingers on the f and j keys on the keyboard. 
					<br/>
					If the word is a real word, press the f key. If the word is not a real word, press the j key. 
					<br/>
					The first few words are practice, and will not be scored.
					<br/>
					Press f or j to begin.
				</p>
			</div>
			@runner(pairs)
		</body>
	</html>
}
